/* font-family : Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* font-family : Yeseva One */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

/* font-family : Lobster */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* font-family : Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* banner section style */

.banner-container {
  width: 1128px;
  height: 494px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  position: relative;
  margin-bottom: 62px;
}

.banner-container .left-content {
  width: 503px;
  height: 315px;
  /* border: 1px solid red; */
  margin-top: 179px;
  display: flex;
  flex-direction: column;
}

.text-primary {
  color: #ffad5a;
}

.left-text .left-line {
  width: 4px;
  height: 124px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  position: absolute;
}

.left-text .left-title {
  font-family: "Yeseva One", serif;
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 18px;
  margin-left: 13px;
  margin-top: -5px;
}
.right-content {
  width: 426px;
  height: 623px;
  margin-top: 197px;
}

.right-content img {
  width: 380px;
  height: 476px;
  margin-left: 70px;
  margin-bottom: 80px;
}

.left-text .left-desc {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 1.12rem;
  font-weight: 400;
  margin-top: 16px;
}

.ex-btn {
  width: 172px;
  height: 48px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  padding: 10px;
  margin-top: 19px;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.scroll-text {
  margin-top: 19px;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
}

/* my mission 2022 style */

.my-mission {
  width: 1128px;
  height: 494px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.after-mission::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("../images/shapes/eclips.png");
  background-size: contain;
  margin-left: 590px;
  margin-top: -46px;
  z-index: 0;
}

.inner-three-card {
  width: 1128px;
  display: flex;
  justify-content: space-between;
}

.mission-card {
  width: 360px;
  height: 376px;
  margin-top: 48px;
  /* border: 1px solid red; */
  display: flex;
  border-radius: 26px;
  background: rgba(79, 157, 166, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.mission-card img {
  width: 126px;
  height: 126px;
}

.vission-card {
  width: 360px;
  height: 376px;
  margin-top: 48px;
  /* border: 1px solid red; */
  display: flex;
  border-radius: 26px;
  background: rgba(255, 89, 89, 0.1);
  padding: 24px;
}

.vission-card img {
  width: 126px;
  height: 126px;
}

.goal-card {
  width: 360px;
  height: 376px;
  margin-top: 48px;
  /* border: 1px solid red; */
  display: flex;
  border-radius: 26px;
  background: rgb(255, 244, 214);
  padding: 24px;
}

.goal-card img {
  width: 126px;
  height: 126px;
}

.my-mission .mission-title {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 700;
  color: #13103a;
  text-align: center;
}

.mission-card-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.mission-desc {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #000000;
  text-align: left;
}

.vission-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.vission-desc {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #000000;
  text-align: left;
}

.goal-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.goal-desc {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #000000;
  text-align: left;
}

/* develop container style */
.develop-container {
  width: 1128px;
  height: 403px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  margin-top: 86px;
  flex-direction: column;
  position: relative;
}

.content {
  position: relative;
  display: flex;
}
.left-content {
  position: relative;
  z-index: 2;
}

.left-content img {
  width: 400px;
  height: 400px;
}

.content .shape {
  width: 227px;
  height: 227px;
  position: absolute;
  top: 54px;
}

.shape::before {
  content: "";
  position: absolute;
  width: 227px;
  height: 227px;
  background-image: url("../images/shapes/shape-1.png");
  margin-left: -94px;
  background-size: contain;
  z-index: 0;
}

.dev-right-content {
  max-width: 654px;
  height: 311px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 72px;
}

.dev-right-content .dev-content-title {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 17px;
}

.dev-desc {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
  text-align: left;
}

.dev-right-content .btn-red-documentation {
  width: 243px;
  height: 48px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  border: none;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.develop-content .eclipse-shape {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 54px;
}

.eclipse-shape::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("../images/shapes/eclips.png");
  background-size: contain;
  margin-left: -170px;
  z-index: 0;
  margin-top: -53px;
}

/* global container style */

.global-container {
  width: 1128px;
  height: 403px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  margin-top: 149px;
  flex-direction: column;
  position: relative;
  margin-bottom: 208px;
}

.global-content {
  position: relative;
  display: flex;
}

.global-right-content {
  position: relative;
  z-index: 2;
}

.global-right-content img {
  width: 400px;
  height: 400px;
}

.global-content .global-shape {
  width: 227px;
  height: 227px;
  position: absolute;
  top: 54px;
}

.global-shape::after {
  content: "";
  position: absolute;
  width: 227px;
  height: 227px;
  background-image: url("../images/shapes/shape-1.png");
  margin-left: 1010px;
  margin-top: -74px;
  background-size: contain;
  z-index: 0;
}

.global-right-content {
  max-width: 654px;
  height: 311px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 72px;
}

/* .global-right-content .global-content-title {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 17px;
} */

.global-desc {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
  text-align: left;
}

.global-left-content .btn-red-documentation {
  width: 243px;
  height: 48px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  border: none;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.global-content .global-shape {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 54px;
}

.global-left-content .global-left-title {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-top: 49px;
}

.global-desc {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
  text-align: left;
}

/* corona application syle */
.corona-app {
  width: 1128px;
  height: 700px;
  /* margin-top: 208px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.corona-app .left-app-img {
  width: 338px;
  height: 542px;
}

.left-app-img img {
  width: 229px;
  height: 459px;
  border-radius: 16px;
  box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);
  margin-right: 168px;
}

.right-app-text {
  margin-top: 70px;
}

.corona-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 141px;
  margin-left: 156px;
}

.corona-app .app-title {
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 700;
  margin-top: 84px;
  text-align: center;
}

.gocorona-title {
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 700;
}

.gocorona-desc {
  font-family: "Manrope";
  font-size: 1.12rem;
  font-weight: 400;
  margin-top: 16px;
}

.btn-app {
  margin-top: 16px;
  width: 157px;
  height: 48px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: none;
}

footer {
  /* Default / Black */
  width: 1440px;
  height: 177px;
  background: rgb(11, 13, 23);
  margin: 0 auto;
}

footer .mission-footer {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-footer .mission-footer-title {
  margin-top: 39px;
  font-family: Lobster;
  font-size: 2.25rem;
  font-weight: 400;
  color: #ffffff;
}

.footer-quick {
  color: #ff5959;
}

.footer-desc {
  margin-top: 24px;
  font-family: "Manrope";
  font-size: 0.8rem;
  font-weight: 200;
  color: #d9dbe1;
}
