@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* banner section style */

.banner-container {
  width: 1128px;
  height: 494px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  position: relative;
  margin-bottom: 62px;
}

.banner-container .left-content {
  width: 503px;
  height: 315px;
  /* border: 1px solid red; */
  margin-top: 179px;
  display: flex;
  flex-direction: column;
}

.text-primary {
  color: #ffad5a;
}

.left-text .left-line {
  width: 4px;
  height: 124px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  position: absolute;
}

.left-text .left-title {
  font-family: "Yeseva One", serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 18px;
  margin-left: 13px;
  margin-top: -5px;
}
.right-content {
  width: 426px;
  height: 623px;
  margin-top: 197px;
}

.right-content img {
  width: 380px;
  height: 476px;
  margin-left: 70px;
  margin-bottom: 80px;
}

.left-text .left-desc {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}

.ex-btn {
  width: 172px;
  height: 48px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
  padding: 10px;
  margin-top: 19px;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.scroll-text {
  margin-top: 19px;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
}

/* my mission 2022 style */

.my-mission {
  width: 1128px;
  height: 494px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.inner-three-card {
  width: 1128px;
  display: flex;
  justify-content: space-between;
}

.mission-card {
  width: 360px;
  height: 376px;
  margin-top: 48px;
  /* border: 1px solid red; */
  display: flex;
  border-radius: 26px;
  background: rgba(79, 157, 166, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.mission-card img {
  width: 126px;
  height: 126px;
}

.vission-card {
  width: 360px;
  height: 376px;
  margin-top: 48px;
  /* border: 1px solid red; */
  display: flex;
  border-radius: 26px;
  background: rgba(255, 89, 89, 0.1);
  padding: 24px;
}

.vission-card img {
  width: 126px;
  height: 126px;
}

.goal-card {
  width: 360px;
  height: 376px;
  margin-top: 48px;
  /* border: 1px solid red; */
  display: flex;
  border-radius: 26px;
  background: rgb(255, 244, 214);
  padding: 24px;
}

.goal-card img {
  width: 126px;
  height: 126px;
}

.my-mission .mission-title {
  font-family: "Manrope";
  font-size: 48px;
  font-weight: 700;
  color: #13103a;
  text-align: center;
}

.mission-card-title {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.mission-desc {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #000000;
  text-align: left;
}

.visson-title {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.vission-desc {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #000000;
  text-align: left;
}

.goal-title {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  text-align: left;
}

.goal-desc {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  color: #000000;
  text-align: left;
}
